BODY {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;background:#FFFFFF;color:#000000
      scrollbar-face-color:#CCFFCC;scrollbar-highlight-color:#CCFFCC;scrollbar-shadow-color:#336633;scrollbar-arrow-color:#336633;scrollbar-base-color:#000000;scrollbar-dark-shadow-color:#009900;
      margin-top:0px;margin-left:0px;margin-right:0px;margin-bottom:0px; height:100%; overflow:hidden}
TABLE {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;}
SELECT {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;background:#FFFFFF;}
A IMG {text-decoration:none; border:none}

#Content {margin-left:5px}

.INPUT {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;background:#000066;color:#FFFFFF;}
.Button {font-size:9px;font-weight:bold;color:#004000;text-align:center;}
.GoButton {border: 0px;font: bold 100% ;text-decoration:underline; background-color:Transparent; text-align:left; cursor:pointer;line-height:16px}

.b24-snapshot-table {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px; border:0; padding:1px; }

.b24-doc-title {font-size:18px;font-weight:bold;}
.b24-doc-title2 {font-size:18px;font-weight:bold;}
.b24-doc-subtitle {font-size:18px;font-weight:normal;}
.b24-doc-subtitle-alerts {font-size:18px;font-weight:normal;color:#000000;text-align:center;}
.b24-doc-para {width:400px;}
.b24-helptext {font-size:10px; color:#306030;}
.b24-helpbulletin {font-size:10px;color:#306030}

.b24-formbanner {font-size:18px;font-weight:normal;color:#008000;background:#CCFFCC;width:95%;border-left:solid 5px #004000;border-top:solid 2px #004000;padding-left:10px;padding-bottom:10px;}
.b24-formbody   {width:95%;border-left:solid 5px #004000;padding-left:10px;padding-bottom:100px;}

.b24-form {margin-top:0px;margin-bottom:0px;color:#000000;font-size:10px;font-family:Verdana, Arial, Helvetica, sans-serif;}
.b24-formbg {border:solid #CCCCCC 1px;background:#D0D0D0;}
.b24-formtitle {background:#006600;color:#FFFFFF;font-weight:bold;font-size:12px;padding:2px;}
.b24-formtitle2 {font-weight:bold;font-size:10px;font-family:Verdana, Arial, Helvetica;}
.b24-formtitle3 {font-weight:bold;font-size:12px;font-family:Verdana, Arial, Helvetica;}
.b24-formtableheading {font-weight:bold;font-size:12px;font-family:Verdana, Arial, Helvetica;color:#006600;background:#F0FFF0;border:solid #003300 1px;}
.b24-formdescription {font-family:Arial, Helvetica, sans-serif;color:#333333;}
.b24-formelement {padding-left:4px;margin-left:10px;margin-right:20px;font-family:Arial, Helvetica, sans-serif;font-size:10px;}
.b24-formseparator {size:1px;height:1px;width:100%;color:#666666;background:#CCCCCC;}
.b24-forminput {}
.b24-forminputlabel{font-size:12px;}
.b24-forminputhelp {color:#808080;}
.b24-formfineprint {font-size:10pt;color:#404040;font-style:italic;text-align:center;}
.b24-formrequired {color#FF0000;font-style:italic;}
.b24-tipslink {font-family:Arial, Helvetica, sans-serif; font-size:10px;text-align:right;}
.b24-formrequired {color:#FF0000;font-style:italic;}
.b24-assistancerequired {font-size:14px;font-weight:bold;color:#FF0000;}

.b24-helpmenu {font-family:verdana, arial, helvetica, sans-serif;}
.b24-helpmenu-title {font-size:10px;color:#000000;font-weight:bold;}
.b24-helpmenu-item {font-size:9px;}

.b24-error {font-family:verdana, arial, helvetica;font-size:12px;font-weight:normal;color:#000000;}
.b24-errortext {font-weight:bold;color:#FF0000;}
.b24-errorcode {color:#FF8080;}

.b24-reportlist {font-size:10px;}
.b24-reportlist-title {font-weight:bold;font-size:13px;color:black;}
.b24-reportlist-data {font-size:11px;margin-bottom:5px;}
.b24-reportlist-selected {font-size:13px;margin-bottom:5px;background:yellow;font-weight:bold;}
.b24-report {font-size:11px; background:#808080; color:#000000;margin-left:0px;margin-top:0px;margin-bottom:10px;}
.b24-report-frame {margin-left:25px;}
.b24-report-title {background:#99CC99; color:#000000;}
.b24-report-data {font-size:9px;background:#FFFFFF;color:#000000;text-align:left;}
.b24-report-data-gray {background:#eeeeee; font-size:9px;color:#000000;text-align:left;}
.b24-report-selected {font-size:9px;background:yellow;color:#004000;text-align:left;}
.b24-report-vtitle {font-size:10px;font-weight:bold;background:#FFFFFF; color:#000000;}
.b24-report-vdata {font-size:9px;background:#FFFFFF;color:#000000;}
.b24-report-link {font-family:arial;font-size:10px;font-weight:bold;color:#FF0000;}
.b24-report-link-label {font-family:arial;font-size:10px;font-weight:bold;color:#006600;}
.b24-report-action {font-family:arial;font-size:14px;font-weight:bold;background:#FFFF80;color:#004000;}
.b24-report-banner {color:#777777;font-size:14px;font-weight:bold;margin-top:10px;margin-bottom:5px;}
.b24-report-parambox {font-family:arial, helvetica;font-weight:bold;font-size:11px;color:red; background:#99CC99;border-top:medium outset #EEEEEE;border-left:medium outset #EEEEEE;border-bottom:medium outset #AAAAAA;border-right:medium outset #AAAAAA; width:200px;}
.b24-report-parambox TABLE {background:#99CC99;}
.b24-report-parambox TABLE TR TD INPUT {background:#FFFFFF;color:#003300;}

.b24-subscription {color:#004000;background:#FFFFFF;border:1px #002000 solid;padding:5px;margin:2px;}
.b24-subscriptionitem-label {text-align:right;}
.b24-subscriptionitem-data {text-align:left;}

.b24-upgradebox {font-family:verdana,arial,helvetica;font-weight:bold;font-size:12px;color:#004000; background:#99CC99;border-top:medium outset #EEEEEE;border-left:medium outset #EEEEEE;border-bottom:medium outset #AAAAAA;border-right:medium outset #AAAAAA; width:200px;}
.b24-upgradebox FORM {background:#99CC99;}
.b24-upgradebox TABLE TR TD INPUT {background:#FFFFFF;color:#003300;}
.b24-upgradebox-help {font-weight:bold;font-size:12px;color:#400000;background:#CCFFCC;padding:3px;text-align:center;width:100%;border:1px solid #004000}

.access-scrambled {color:#800000;}
.access-preview {color:#000040;}
.user-login {color:#808080;}
.user-email {color:#000040;}
.subscription-starts {color:green;}
.subscription-expires {color:maroon;}

.b24-navmenu {font-family:arial,helvetica,sans-serif;font-size:12px;color:#666565}
.b24-navmenu-separator, .b24-navmenu A {color:#003333;text-decoration-none;font-weight:bold;}
  
.b24-menu   {font-family:arial,helvetica,sans-serif;font-size:12px;color:#666565}
.b24-menu-selected {font-weight:bold;}
.b24-menu-title {font-size:13px;font-weight:bold;}
.b24-menu-item {font-weight:normal;}

.b24-development {font-weight:normal;color:#E0A080;width:90%;}

.b24-supportdoc-td1 {padding:0px; margin:0px; xborder:solid 1px black;}
.b24-supportdoc-td2 {background:#E0FFE0; padding:0px; margin:0px; xborder:solid 1px black;}

.highlight {background:yellow;}
.debug {font-face:comic sans ms;font-size:9px;background:#FFFFFF;color:#000000;}
.debugwrite {font-face:comic sans ms;font-size:9px;background:#FFFFFF;color:#000066;}
.debugwriteform {font-face:comic sans ms;font-size:9px;background:#000066;color:#FFFFFF;}
.debugwritecookie {font-face:comic sans ms;font-size:9px;background:#BB7A5E;color:#FFFFFF;}
.alwayswrite {font-face:comic sans ms;font-size:9px;background:#FFFFFF;color:#BB7A5E;}
.xmldebugwrite {font-face:comic sans ms;font-size:9pt;background:#FFFFFF;color:#339966;}

.b24-cartlink {}
.b24-cartlink a {float:left;}
.b24-cartlink input {float:left;}
.b24-cartlink-label {padding-top:3px; font-family:arial;font-size:10px;font-weight:bold;color:#006600;}

.b24-editrow {background-color:#E0FFE0;}

.Error {color:Red;}
.Input {padding:5px; border:solid 1px blue; border:none;}
.Label {height:15px;width:100px; float:left; text-align:right; font-weight:bold; padding:5px;border:solid 1px red; border:none;}
.InputCheckbox {width:110px; float:left; text-align:right; padding-top:3px; border:solid 1px blue; border:none;}
.LabelCheckbox {height:15px;font-weight:bold; padding:5px;border:solid 1px red; border:none;}

/* library matrix */
.dbform {font-family:verdana,arial,sans-serif;font-size:12px;border:none;background:#FAFAD2;}
.libraryform {background:#DADAB2;}
.reportform {background:#B2DAB2;}

.tabletitle {font-family:verdana,arial,sans-serif;font-size:10px;font-weight:bold;color:white;background:#8A8A62;}

.librarytable {font-family:verdana,arial,sans-serif;font-size:9px;border:none;background:#FAFAD2;}
.selected {background:yellow;}
.deny  {background:maroon;color:yellow;font-weight:bold;}

.domain {background:#729A9A;}
.email {background:#92BABA;}
.anon {background:#FFCC88;}
.noanon {background:#EAB773;}
.ezproxy {background:#B2DCB2;}
.region {background:#B28888;}

.spare1 {background:#D5A25E;}
.spare2 {background:#885E5E;}

.salesusertext {text-align:right; vertical-align:top;color:#000000; 
}
.salesusertext div {margin:5px; 
}
.salesbg {background-color:#e5e8dd
}
.salesgutterbg{border-left:solid 20px #e5e8dd;height:100%; position:absolute; overflow:auto; left:0; right:0; top:0; bottom:0
} 
.salesbgnav {background-color:#e5e8dd
}
.salescontentbg {background-color:#ffffff !important; margin-left:20px;
}
.salesloginlogo {height:40px; padding: 10px 5px 10px;
}
.saleslogingutterbg{border-left:solid 20px #e5e8dd;height:100%; position:absolute; overflow:auto; left:0; top:0; bottom:0;
} 
.loginlbl {margin-top: 10px; margin-bottom: 5px; vertical-align:middle; text-align: left;
}
.logintbx {margin-top: 10px; margin-left: 15px; margin-bottom: 5px; vertical-align:middle; height: 18px;
}
.loginbtn {margin-top: 15px; margin-bottom: 10px; margin-right: 5px; vertical-align:middle; 
}
.loginerr {text-align: left; color:Red;
}

.accordionHeader
{
	background-color: #efefef;
	color: #2c3070 !important;
	cursor: pointer;
	font-size: 12px;
	margin-top: 5px;
	padding: 5px;
    width:61%;
}
.accordionLink {text-decoration:none;color:#2c3070;}
.accordionLink div {width:100%;text-align:left;cursor:pointer;}
.accordionContent
{
	background-color: #FFFFFF;
	border-color: -moz-use-text-color #2F4F4F #2F4F4F;
	border-style: none dashed dashed;
	border-width: medium 1px 1px;
	padding: 10px 5px 5px;
    width:61%;
}
.accordionHeaderSelected
{
	background-color: #d1e4a2;
	border: 1px solid #2c3070;
	color: #ffffff;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	padding: 5px;
    width:61%;
}                   
.progress{position:absolute;left:200px;top:300px;}

.moduleMenuBacground
{
    width: 100%;
    height: 33px;
    margin-top: 0px;
    
}
.primaryStaticMenu
{
    background-color: Transparent;
    float: left;
    margin: 1px 0 0 10px;
    width:75%;
    text-align:center
}
.primaryStaticMenuItem
{
    width: 11em;
    color: #000000;
    padding: 0.5em 0 0.7em 0em;
}
.primaryStaticHover
{
    color: #CC0000;
}
.primaryStaticSelected
{
    color: #CC0000;
    font-weight: bold;
    background: #ffffff;
     border-top:solid 1px #ffffff;
     border-right:solid 1px #ffffff;
     border-left:solid 1px #ffffff;
     border-bottom:solid 1px #ffffff;
     border-radius:10px 10px 0 0px;
}

/*Sub menu*/
.subModuleMenuBacground
{
    background-color: #ffffff;
    width: 100%;
    height: 29px;
    border-bottom:solid 0px #cc0000;
    padding:10px 0 15px 0; 
}
.subStaticMenu
{
    background-color:#ffffff;
    float: left;
    height:12px;
}
.subStaticMenuItem
{
    width: 5em;
    background-color: #ffffff;
    color: #777777;
    padding: 0.5em .5em 0.5em .5em;
    text-align:center;
}
.subStaticHover
{
    color: #cc0000;
}
.subStaticSelected
{
    color: #cc0000;
    font-weight: bold;
    background: #ffffff;
}
/*Result grid style*/
resultGrid {   
    width: 100%;   
    background-color: #ffffff;   
    margin: 5px 0 10px 0;   
    border: solid 1px #525252;   
    border-collapse:collapse;   
}  
.resultGrid td {   
    padding: 5px;   
    border: solid 1px #c1c1c1;   
    vertical-align:middle;  
    font-size: 11px;     
}  
.resultGrid th {   
    padding: 5px;      
    background-color:/*#798bcd*/#8fb6e1;
    border: solid 1px #777777;   
    font-size: 11px;  
    color: #fafeff; 
}

/*float library */
.s-left {float:left; margin-right:10px}
.s-right {float:right; }
.s-clear {clear:both;}
.alertCell { text-align: left;}
.alertLeftColumn { width: 160px; }

.b24-alerts {color:#004000;background:#FFFFFF;border:1px #6E6E6E solid;padding:10px;margin:2px;text-align:left}
.b24-alertsinput {width:350px; padding:2px;}
.b24-alerts-lblcell {
    height: 25px;
    vertical-align: bottom;
}

#AlertView {border: 1px solid #bdbcbd;

}

.s-form
{background:#FFFFFF;border: 1px solid #bdbcbd; vertical-align:middle; padding:5px; margin-right:12px; color:#606659 
}
.PanelHidden  { display: none;}
.PanelVisible { width:100%; }

input[type=text]
{
    border: 1px solid #bdbdbd
}
select 
{   
    border: 1px solid #bdbdbd
}  image